.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    margin: 0;
    background-color: #2b88f0;
}


.main h3 {
    color: whitesmoke;
    margin: 10px 0 20px;
    text-align: center;
}

.container {
    width: 500px;
}

.container textarea {
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 16px;
}

.tag {
    background-color: orange;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    display: inline-block;
    transition: all 0.1s ease;
}

.tag.highlight {
    background-color: red;
}