.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.search {
  position: relative;
  height: 50px;
}

.search input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: all 0.3s ease;
  box-sizing: border-box;
  border-radius: 50%;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  position: absolute;
  font-size: 24px;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
  padding-top: 4px;
  border-radius: 50%;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
  border-radius: 20px 0 0 20px;
}
.search.active .btn {
  transform: translateX(200px);
  border-radius: 0 20px 20px 0;
}
