:root {
    --themeClock--primary-color: #000;
    --themeClock--secondary-color: #fff;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    transition: all 0.5s ease-in;
}

.main.dark {
    --themeClock--primary-color: #fff;
    --themeClock--secondary-color: #333;
    background-color: #111;
    color: var(--themeClock--primary-color);
}

.toggle {
    cursor: pointer;
    background-color: var(--themeClock--primary-color);
    color: var(--themeClock--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
}

.needle {
    background-color: var(--themeClock--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    transform-origin: bottom center;
    transition: all 0.5s ease-in;
}

.needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
}

.needle.second {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
    background-color: #e74c3c;
}

.centerPoint {
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}


.centerPoint::after {
    content: "";
    background-color: var(--themeClock--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.time {
    font-size: 60px;
}

.date {
    color: #aaa;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.date .circle {
    background-color: var(--themeClock--primary-color);
    color: var(--themeClock--secondary-color);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transition: all 0.5s ease-in;
    font-size: 12px;
    text-align: center;
    margin-left: 6px;
}