.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: rgb(161, 100, 223);
    ;
}


.box {
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    color: aliceblue;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.box:hover {
    opacity: 0.9;
}