.main {
    display: flex;
    height: 100vh;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.leftSide {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.leftSide>div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.leftSide h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
}

.rightSide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
}

.rightSide>div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.main button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

.main button:hover {
    color: #222;
}

.container .buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

.container .buttons .down {
    transform: translateX(-100%);
    border-radius: 5px 0 0 5px;
}

.container .buttons .up {
    transform: translateY(-100%);
    border-radius: 0 5px 5px 0;
}