.main {
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
  position: relative;
  transform: translateZ(0);
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100%;
  padding: 50px;
  min-height: 100vh;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circleContainer {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.open {
  left: 60%;
}

.close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav+nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

.content img {
  max-width: 100%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}

.main nav {
  position: absolute;
  top: 70vh;
  left: 0;
  z-index: 100;
}

.main nav ul {
  list-style-type: none;
  padding-left: 30px;
}

.main nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

.main nav ul li+li {
  margin-left: 15px;
  transform: translateX(-150%);
}

.main nav ul li+li+li {
  margin-left: 30px;
  transform: translateX(-200%);
}

.main nav a {
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
}

.main nav a:hover {
  color: #ff7979;
  font-weight: bold;
}