.containers {
  display: flex;
  width: 95vw;
  height: 95vh;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  overflow: hidden;
  /* padding: 50px; */
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in-out;
}

.panel.active {
  flex: 5;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in-out 0.4s;
}